body{
  text-align: center;
}


body{
  background: url(https://static.pexels.com/photos/461947/pexels-photo-461947.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.card {
  background-color: rgba(34, 34, 34, .9);
}

h4{
  color: white;
}

h6{
  color: white;
  float: left;
  border: 1px solid grey;
  margin-left: 10px;
}

